<html>
    <head>
        <title>Crear Configuración</title>
    </head>
    <body>
        <h1>Crear Configuración</h1>
        <br>
        <form method="post">
            {%csrf_token%}
            <input placeholder="Id Categoría" id="idcat" name="idcat" type="text">
            <input placeholder="Id" id="id" name="id" type="text">
            <input placeholder="Nombre" id="name" name="name" type="text">
            <input placeholder="Descripción" id="desc" name="desc" type="text">
            <input type="submit">
            <br>
            <br>
            <textarea style="width: 1000px; height: 100px;">{{result.msg}}</textarea>
        </form>
    </body>
</html>